{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vamos</title>
    <link href="{% static 'css/pages/homePage.css' %}" rel="stylesheet">
    <script src="{% static 'js/pages/homePage.css' %}"></script>
</head>
<body>
        <div class="logo">
            <img src="{% static 'img/pages/imageVamos/logo.png' %}" alt="logo"  class="logo_picture">
          </div>
    <div class="containertotal">
        <div class="content">
           <div class="text">
              <h1>Welcome to Vamos</h1>
              <h3>ready for your next adventure?</h3>
            </div>
           <div class=plane>
              <img src="{% static 'img/pages/imageVamos/Plane.png' %}" alt="plane" class="plane_picture">
           </div>
        </div>
        <div class="animation-container">
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
          </div>
    </div>
</body>
</html>