{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log In</title>
    <link rel="icon" href="{% static 'img/usr/logo-modified.png' %}" type="image/png">
    <link href="{% static 'css/usr/login.css' %}" rel="stylesheet">
    <script src="{% static 'js/usr/login_error.js' %}"></script>
</head>
<body>
    <div class="container">
        <!-- Logo -->
        <img src="{% static 'img/usr/logo-modified.png' %}" class="icon" alt="Logo">
        <h1 style="margin-top: 12px;">Log In</h1>

        <!-- Login Form -->
        <form action="{% url 'login' %}" method="POST" id="login-form">
            {% csrf_token %}
            
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" id="username" placeholder="Enter username" name="username" required>
                <!-- Username Error Message -->
                <label id="username-error-message" class="error-message" style="color: red; margin-left: 15px; margin-top: 3px; font-weight: 500; display: none;">
                </label>
            </div>
            
            <!-- Password Field -->
            <div class="form-group">
                <label for="password">Password</label>
                <div class="password-wrapper">
                    <input type="password" id="password" placeholder="Type your password" name="password" required>
                </div>
                <!-- Password Error Message -->
                <label id="password-error-message" class="error-message" style="color: red; margin-left: 15px; margin-top: 3px; font-weight: 500; display: none;">
                </label>
            </div>
            
            <!-- Forgotten Password -->
            <div class="forgot-password">
                <button type="button" class="forgot-btn" onclick="window.location.href='{% url 'z' %}'">Forgotten Password?</button>
            </div>
            
            <!-- Submit Button -->
            <button type="submit" class="register-btn" >LOG IN</button>
            
            <!-- Sign Up Section -->
            <br>
            <label style="display: inline; margin-top: 30px;">DON'T HAVE AN ACCOUNT?</label>
            <button type="button" class="skip-btn" onclick="window.location.href='{% url 'signin' %}'" >Sign Up</button>
        </form>
    </div>
</body>
</html>
