body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* Empêche les barres de défilement */
}

body::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('/static/img/usr/pexels-asadphoto-1591373.jpg') no-repeat center center fixed;
  background-size: cover;
  filter: blur(8px); /* Ajout d'un flou plus perceptible */
  z-index: -1;
}

.container {
  background-color: rgba(255, 255, 255, 0.85); /* Transparence légère et subtile */
  width: 360px;
  padding: 25px;
  border-radius: 15px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2); /* Ombre plus douce */
  text-align: center;
  z-index: 1;
  height: 450px;
}

.header {
  text-align: center;
  margin-bottom: 10px;
}

.icon {
  background-size: cover;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin: 15px auto;
}

.skip-btn {
  background: none;
  border: none;
  color: #007bff;
  font-weight: bold;
  cursor: pointer;
  font-size: 14px;
  text-decoration: underline;
}

h1 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #19095b;
}

p {
  font-size: 14px;
  color: #333;
  margin-bottom: 20px;
}

form label {
  display: block;
  text-align: left;
  margin-bottom: 5px;
  font-size: 14px;
  color: #19095b;
  font-weight: 600;
  margin-left: 10px;
}

form input {
  width: 90%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 14px;
  margin-bottom: 15px;
  transition: border 0.3s;
}

form input:focus {
  border-color: #5b86e5;
  outline: none;
}

.forgot-btn {
  background: none;
  border: none;
  color: #007bff;
  font-weight: bold;
  cursor: pointer;
  font-size: 13px;
  text-decoration: underline;
  float: right;
  margin-top: -10px;
}

.register-btn {
  width: 90%;
  padding: 10px;
  color: #fff;
  background: linear-gradient(90deg, #36d1dc, #5b86e5);
  transition: background 0.4s, transform 0.3s;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
}

.register-btn:hover {
  background: linear-gradient(90deg, #5b86e5, #36d1dc);
  transform: scale(1.05);
}

input.error {
  border: 2px solid red !important;
  outline: none;
}

.loading-spinner {
  width: 30px;
  height: 30px;
  border: 3px solid #ddd;
  border-top: 3px solid #007bff;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin: 10px auto;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
